/* Styles */
html, body, #root, .container-loading {
  height: 100%;
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}
body {
  background: #f5f5f5;
}

nav {
  padding-top: 20px;
}

.container-loading {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.loading {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.loading-row {
  background-color: #fff;
  min-height: 100%;
  height: 100%;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  width: 100%;
}

.loading div {
  width: inherit !important;
}

.loading svg {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.content {
  padding: 0 15px;
}
.grid-content {
  padding: 0 8px 16px;
}
h3 {
  font-size: 24px;
  color:#337ab7;
}
.h1-loading {
  color: #fff;
  font-size: 6rem;
  line-height: 8rem;
}
.jumbotron h1 {
  font-size: 20px;
  margin-top: 10px;
}
.jumbotron p {
  font-size: 18px;
}
.go-home a{
  text-align: right;
  font-size: 12px;
  display: block;
}
.main-container .jumbotron {
  border-radius: 0;
  padding: 15px;
  background: #5499d4;
  color: #e5e5e5;
  border-radius: 0;
  padding: 15px;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,0.3);

}
.main-container {
  padding: 0 0 15px 0;
  background: #f5f5f5;
  height: 100%;
}
/* Product Details Page */
  .prod-description > div {
    padding-bottom: 5px;
  }
  .thumbnail {
    margin: 0 auto;
  }
  .prod-image {
    float: left;
    margin-right: 15px;
  }
  .prod-name {
    font-size: 24px;
  }
  .prod-id {
    font: italic normal 13px arial;
  }
  .available {
    color: green;
  }
  .not-available {
    color: #c00;
  }
  .prod-checkout-person input {
    border: 1px solid #ccc;
    padding: 3px;
  }
  .menu-links {
    float: left;
  }
  .sign-up {
    margin-left: 15px;
  }
  .user-info {
    float: right;
  }
  .menu-links a:active,.menu-links a:focus {
    text-decoration: none;
    color: #e2e2e2;
  }
 
  .devices-list-grid {
    border: 1px solid #ccc;
    margin: 0 1% 15px;
    width: 31%;
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border-radius: 2px;
  }
  .devices-list-grid > div {
    padding: 3px;
    text-align: left;
  }
  .devices-list-grid > div:last-child {
    border-bottom: 0;
  }
  .return-device {
    margin: 0 auto;
    display: block;
  }
  .table-header .tableCell{
    text-align: center;
  }
  nav {
    display: block;
    overflow: hidden;
    padding: 0;
  }
  nav p {
    margin-bottom: 5px;
  }
  nav a {
    color: #e2e2e2;
  }
  nav a.active {
    font-weight: bold;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    h1 {
      font-size: 24px;
    }
    .container .jumbotron {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 5px; 
    }
    .prod-image {
      float: none;
      padding: 0;
      margin: 0 0 15px 0;
    }
    .menu-links {
      float: none;
    }
    .menu-links a {
      font-size: 14px;
    }
    nav {
      padding-top: 0;
    }
    .user-info {
      float: none;
      margin-top: 15px;
    }
    .devices-list-grid {
      width: 100%;
    }
    .return-device {
      font-size: 12px;
      padding: 5px;
    }
  } 
/* Product Details page Ends*/